.option {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 32px;
    }

    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.15);
    }
  }

  &__photo {
    width: 100%;
  }

  &__subtitle {
    margin: 0 0 4px;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $colorAccentMain;
  }

  &__about {
    font-family: "Roboto", serif;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}
